.cart{
   position: sticky;
   top: 0;
}

.cart-btn1{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 9px;
    border: 1px solid green;
    font-size: 22px;
    color: green;
    cursor: pointer;
}
.cart-btn2{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 9px;
    border: 1px solid green;
    font-size: 20px;
    color: #8121db;
    cursor: pointer;
}