.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 9999;
    padding-left: 140px;
    padding-right: 140px;
}
 
.menu a{
    text-decoration: none;
    margin-left: 32px;
    color: #fff;
}
 
.menu a:hover{
    color: yellow;
}
 
 